In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('price.csv')
df

    Month  Rainfall  Paddy  price
0       1      11.3  116.7   2040
1       2      40.1  117.9   2078
2       3      15.7  118.7   2000
3       4      30.4  120.4   1998
4       5      57.8  121.9   1986
5       6     219.8  124.9   2063
6       7     310.0  129.4   2088
7       8     254.7  132.0   2087
8       9     152.7  131.3   3098
9      10     129.4  131.0   3762
10     11      14.0  131.3   3023
11     12       6.7  130.6   2009

In [3]:
df.Rainfall.median()

48.95

In [5]:
df.Rainfall = df.Rainfall.fillna(df.Rainfall.median())
df

    Month  Rainfall  Paddy  price
0       1      11.3  116.7   2040
1       2      40.1  117.9   2078
2       3      15.7  118.7   2000
3       4      30.4  120.4   1998
4       5      57.8  121.9   1986
5       6     219.8  124.9   2063
6       7     310.0  129.4   2088
7       8     254.7  132.0   2087
8       9     152.7  131.3   3098
9      10     129.4  131.0   3762
10     11      14.0  131.3   3023
11     12       6.7  130.6   2009

In [22]:
reg = linear_model.LinearRegression() 
reg.fit(df[['Month','Rainfall','Paddy']],df.price)

LinearRegression()

In [10]:
reg.coef_

array([-173.92380392,   -3.62235592,  184.00220801])

In [11]:
reg.intercept_

-19235.54410908993

In [23]:
reg.predict([[6,12.8,131]])

C:\Users\sowmi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3778.83616083])

In [21]:
-173.92380392*6+-3.62235592*12.8+184.00220801*131+-19235.54410908993

3778.836160924071